@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(#F2B9A1, #EA6264 ) fixed;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    letter-spacing: 3px;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #ffffff;
    color: #000000;
    display: grid;
    border-radius: 50%;
}

.card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
} 

.card-subtitle {
    font-weight: lighter;
    color: #000000;
    margin-top: 5px;
    text-align: center;
}

.card-image {
    height: 180px;
    margin: 0 auto;
}

#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.container {
    padding: 40px;
    margin: 0 auto;
}
